rsa
pandas
numpy
scipy 
scikit-learn
transformers
sentence-transformers
accelerate
datasets
torch
xlsxwriter
tqdm
tabulate
rouge
rouge-score
requests
psutil
openpyxl
aiohttp
evaluate
tiktoken
fire
gradio
sentencepiece
tokenizers
wandb
auto-eval
peft
text2vec
bitsandbytes
torchmetrics
deepspeed

